<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="styleses.css">
    <link type="text/css" rel="stylesheet" href="sty.css">
    <link type="text/css" rel="stylesheet" href="img_slider.css">
    <link type="text/css" rel="stylesheet" href="product.css">
    <style>
      .clearfix{
         overflow: auto;
      }
     #pdf{
            width: 100%;
        }
        .header{
            height: 150px;
            padding: 0!important;
            background-color: #934dee;
        }
        .header-profile{
            
            padding: 0!important;
            padding-right: 15px!important;
        }
        h5{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
            color: #573683;
        }
        h3{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 38px;
            color: #934dee;
        }
        .fa{
            font-size: 22px!important;
            color: #573683!important;
        }
        a{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
            color: #573683;
        }
   </style>
</head>
<body style="background-color:#D0CDD5;">
  <div class="overlay menu">
    <ul>
      <% if(auth_email){ %>
        <li><a href="/admin-panel" style="color: rgb(84, 87, 121);padding-left: 20px;"><i class="fa fa-user icon"><p class="more-tab">Admin Dashboard</p></i></a></li>
      <% } %>
      <% if(teacher_email){ %>
        <li><a href="/teacher-admin-panel" style="color: rgb(84, 87, 121);"><i class="fa fa-user icon"><p class="more-tab">Teacher Dshboard</p></i></a></li>
      <% } %>
    </ul>
  </div>

  <div class="top-nav clearfix"><h5 class="logo-tag">z<span>o</span>class</h5></div>
    <div class="container-fluid" ><div style="height: 10vh;"></div> 
    <div class="row" style="height: 430px;">
      <div class="col-md-12" style="padding-left: 15px!important;padding-right: 15px!important;padding-top: 25px!important;">
        <div class="owl-carousel owl-carousel-fullwidth" style="border-radius: 20px!important;">
            <img  src='./uploads/a.jpg' height="430px;" width="100%" style="border-radius: 15px;">  
            <img  src='./uploads/b.jpg' height="430px;" width="100%" style="border-radius: 15px;">    
            <img  src='./uploads/c.jpg' height="430px;" width="100%" style="border-radius: 15px;">    
            <img  src='./uploads/d.jpg' height="430px;" width="100%" style="border-radius: 15px;">    
            <img  src='./uploads/e.jpg' height="430px;" width="100%" style="border-radius: 15px;">    
        </div>
      </div>                      
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-xs-12" style="padding-left: 0!important;padding-right: 0!important;padding-top: 25px!important;">
        <div class="owl-carousel owl-carousel-fullwidth-product">
          <div class="col-xs-12" style="width: 250px;height: 200px;background-color:#f7f7f8;border-radius:10px;box-shadow:0px 1px 5px 0px rgba(0,0,0,0.4);margin:2px;">
            <img class="img"  src='./uploads/bio-1.png' width="125" height="125">
            <h4 class="font-img">Biology</h4>  
          </div>
          <div class="col-xs-12" style="width: 250px;height: 200px;background-color: #f7f7f8;border-radius:10px;box-shadow:0px 1px 5px 0px rgba(0,0,0,0.4);margin:2px;">
            <img class="img"  src='./uploads/math-1.png' width="125" height="125">
            <h4 class="font-img">Maths</h4>  
          </div>
          <div class="col-xs-12" style="width: 250px;height: 200px;background-color: #f7f7f8;border-radius:10px;box-shadow:0px 1px 5px 0px rgba(0,0,0,0.4);margin:2px;">
            <img class="img"  src='./uploads/phy-1.png' width="125" height="125">
            <h4 class="font-img">Physics</h4>  
          </div>
          <div class="col-xs-12" style="width: 250px;height: 200px;background-color: #f7f7f8;border-radius:10px;box-shadow:0px 1px 5px 0px rgba(0,0,0,0.4);margin:2px;">
            <img class="img"  src='./uploads/che-1.png' width="125" height="125">
            <h4 class="font-img">Chemistry</h4>  
          </div>
          <div class="col-xs-12" style="width: 250px;height: 200px;background-color: #f7f7f8;border-radius:10px;box-shadow:0px 1px 5px 0px rgba(0,0,0,0.4);margin:2px;">
            <img class="img"  src='./uploads/san-1.png' width="125" height="125">
            <h4 class="font-img">Sanskrit</h4>  
          </div>
        </div>
      </div>                      
    </div>
      <div class="row">                                
        <div class="col-xs-12  col-md-10 col-md-offset-1" style="padding-left: 0!important;padding-right: 0!important;margin-top: 20px;">
          <div class="owl-carousel owl-carousel-fullwidth-a">
           <% if(records.length > 0){records.forEach(function(row){%>
            <div class="cards" style="border-radius:10px;box-shadow:0px 1px 5px 0px rgba(0,0,0,0.4);margin-left: 10px;margin-right: 5px;margin-top: 5px;margin-bottom: 5px;">
              <div class="boxs">  
                <div class='col-xs-12 img-name'>
                  <div class='col-xs-8'><h2 style="margin-top: 75px;color:#675b7e;font-size: 40px;font-weight: 700;letter-spacing: 0.03em;text-align: left;"><%= row.teachername %></h2></div>
                  <div class='col-xs-4'><img class='img2' src='./uploads/<%= row.image %>'></div>
                </div>
                <div class="row">
                  <div class="col-xs-9" style="height: 75px;">
                    <% if(t_id.length > 0){t_id.forEach(function(rowCls){ %>
                      <% if(row.teacher_uid==rowCls.exist_id){%>
                        <% if(row.teacher_uid){ %>
                          <h2 style="font-family: sans-serif;font-weight: 500;font-size: 32px;text-align: left;margin-left: 40px;color:#675b7e;letter-spacing: 0.1em;margin-top: 25px;"><%= rowCls.subject_name %></h2>
                          <h2 style="font-family: sans-serif;font-weight: bold;font-size: 32px;text-align: left;margin-left: 40px;color: #675b7e;margin-top: 25px;letter-spacing: 0.05em;">Start Live Class - <%= rowCls.class_name %>th</h2>
                          
                        <% }%>
                      <% }%>
                     <% })} %>
                    </div>

                <div class="row" style="height: 350px;">
               <% if(t_id==""){ }%>  
               <% if(t_id.length > 0){t_id.forEach(function(rowCls){ %>
                 <% if(rowCls.exist_id==row.teacher_uid && row.teacher_uid==rowCls.teacher_id && rowCls.exist_id==rowCls.teacher_id && teacher_email){%>
                  <div class="col-xs-5 col-xs-offset-7 card-btn">
                    <a class="btn"><p>Join Now</p></a>   
                  </div>
                 <% }else if(rowCls.exist_id==row.teacher_uid && row.teacher_uid==rowCls.teacher_id && rowCls.exist_id==rowCls.teacher_id && auth_email){%>
                          <div class="col-xs-5 col-xs-offset-7 card-btn">
                            <a class="btn"><p>Join Now</p></a>   
                          </div>
                        <% }else if(rowCls.exist_id==row.teacher_uid && row.teacher_uid==rowCls.teacher_id && rowCls.exist_id==rowCls.teacher_id && rowCls.exist_class_name!==class_name){%>
                          <div class="col-xs-5 col-xs-offset-7 card-btn">
                            <a class="btn"><p>Join Now</p></a>   
                          </div>
                        <% }else if(rowCls.exist_id==row.teacher_uid && row.teacher_uid==rowCls.teacher_id && rowCls.exist_id==rowCls.teacher_id && rowCls.exist_class_name==class_name){%>
                          <div class="col-xs-5 col-xs-offset-7 card-btn">
                            <a href="/getStudentUser"  class="btn"><p>Join Now</p></a>   
                          </div>
                        <% }%>
                      <% })} %>
                        </div>
                        </div>
                   </div>
                </div>
            <%  })} %>
                
            </div>
            </div>
            <nav class="bnav">
              <div class="bnav-item">
                <a class="bnav-link-active"><i class="fa fa-home"></i>Home</a>
              </div>
              <div class="bnav-item">
                <a href="#" class="bnav-link"><i class="fa fa-user icon"></i>User</a>
              </div>
              <div class="bnav-item">
                <a href="#" class="bnav-link"><i class="fa fa-cog icon"></i>Setting</a>
              </div>
              <div class="toggle">
                <div class="kebab menu menus">
                  <figure></figure>
                  <figure></figure>
                  <figure></figure>
                </div>
                <h1 class="menu">More</h1>
              </div>
            </nav>
        </div>
    </div> 
    <div class="container-fluid" id="pdf" style="padding-left: 0!important;padding-right: 0!important;">
        <div class="row">
            <div class="col-xs-12 text-center header"><h2 style="color: rgb(247, 245, 252);font-size: 35px;">ABHISHEK DHAKAD</h2></div>
        </div>
        <div class="col-xs-12" style="height:25px;"></div>
        <div class="row">
            <div class="col-xs-4 text-left" style="padding-left: 50px;">
                <div class="col-xs-12 header-profile">
                    <h3>About Me</h3>
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="col-xs-11">
                            <a href="">Address</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="col-xs-11">
                            <a href="">9340700360</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="col-xs-11">
                            <a href="">Social Media</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="col-xs-11">
                            <a href="">adhakad12345@hotmail.com</a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-xs-12 header-profile">
                    <h3>Skills</h3>
                    <h5><input type="radio" style="color: #934dee;background-color: #934dee;">* Node js</h5>
                    <h5>* Html5</h5>
                    <h5>* Css3</h5>
                    <h5>* jquery</h5>
                    <h5>* Node js</h5>
                </div>
                <div class="col-xs-12 header-profile">
                    <h3>Education</h3>
                    <h5>Node js</h5>
                    <h5>Html5</h5>
                    <h5>Css3</h5>
                    <h5>jquery</h5>
                    <h5>Node js</h5>
                </div>
                <div class="col-xs-12 header-profile">
                    <h3>Work Experience</h3>
                    <h5>Node js</h5>
                    <h5>Html5</h5>
                    <h5>Css3</h5>
                    <h5>jquery</h5>
                    <h5>Node js</h5>
                </div>
                <div class="col-xs-12 header-profile">
                    <h3>Expertise</h3>
                    <h5>Node js</h5>
                    <h5>Html5</h5>
                    <h5>Css3</h5>
                    <h5>jquery</h5>
                    <h5>Node js</h5>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="col-xs-12 header-profile">
                    <h3>Professional Skills</h3>
                    <h5>* Have a strong excellent problem-solving skills, and high interest in all the latest tools</h5>
                    <h5>* Strong understanding of NPM and modular application development skills building</h5>
                    <h5>* Excellent analytical, problem solving and communication skills both written and verbal are required</h5>
                    <h5>* Strong leadership and technical management skills</h5>
                    <h5>* Excellent written and verbal communication skills with the ability to communicate clearly with all levels within the project team</h5>
                    <h5>* Acquiring hands on skills working with new technologies and modern development methodology, taking care of the entire development life cycle</h5>
                </div>
                <div class="col-xs-12 header-profile">
                    <h3>Node js Development</h3>
                    <h5>* Web design and development, application development using HTML, CSS, JavaScript and Bootstrap.</h5>
                     <h5>* Designed dynamic and multi-browser compatible pages using HTML5, CSS3, SASS, Bootstrap, JQuery, AJAX, Node Js and JavaScript.</h5>
                     <h5>* Experience with Node.js using web server based frameworks such as Express.</h5>
                     <h5>* Experience in database programming using MySQL and proficiency in developing SQL in JDBC as well as client server environments.</h5>
                     <h5>* Experience with relational databases and/or NoSQL databases MongoDB</h5>
                     <h5>* Experience RESTful API design and development</h5>
                     <h5>* Experience and understanding of cloud deployments and micro services approach to build applications</h5>
                     <h5>* Responsible for ensuring the pattern consistency across all pages.</h5>
                     <h5>* Responsible for design and development of the web pages from mock- ups.</h5>
                     <h5>* Responsible for creating the screens with table-less designs meeting W3C standards</h5>
                     <h5>* Applied JQuery scripts for basic animation and end user screen customization purposes.</h5>
                     <h5>* Used AJAX and JSON to make asynchronous calls to the project server to fetch data on the fly.</h5>
                     <h5>* Developed the User Interface usingHTML 5, SASS, JavaScript, JQuery, Node Js and AJAX.</h5>
                     <h5>* Built a cross-browser graphics library using SVG and Canvas.</h5>
                     <h5>* Developed and implemented UI controls and APIs with Ext JS.</h5>
                     <h5>* Developed the various feature of the application using front end technologies like Backbone JS and React.Js.</h5>
                     <h5>* Developed new reports and chart interface components using High ChartsAjax API. </h5>
                     <h5>* Developed several REST web services supporting both XML and JSON to perform tasks such as remote thermostat and demand-response management. REST web services leveraged by both web and mobile applications.</h5>
                     <h5>* Maintained high level of unit test coverage through test-driven development.</h5>
                     <h5>* Created web pages using CSS Image Sprites.</h5>
                     <h5>* Ensured site design integrity and quality control consistency throughout the project's lifecycle.</h5>
                     <h5>* Responsible for quality assurance of finished websites including the validation of web forms and links.</h5>
                     <h5>* Developed a complex AJAX application based on the jQuery framework.</h5>
                     <h5>* Successfully handled JSON/XML data and carried out JSON/XML parsing for form submissions and DOM manipulation.</h5>
                     <h5>* Implemented interaction between frontend and backend using the JSON object.</h5>
                </div>
            </div>
        </div>
    </div>
    <input style="width:120px;height: 40px;background:linear-gradient(to right, #26de81,aquamarine);color: #fff;border:none;border-radius: 3px;" type="button" id="btnExport" value="PDF" />          

    <div class="container-fluid" style="height:500px;"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
  <script src="main.js" defer></script>
  <script src="img_slider.js" defer></script>
  <script src="product_slider.js" defer></script>
  <script>
    $(document).ready(function(){
      $('.menu').click(function(){
        $('.overlay').toggleClass('active');
        $('ul').toggleClass('active');
      })
    })
  </script>




     <script>
       $("body").on("click", "#btnExport", function () {
            html2canvas($('#pdf')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width:600,
                            marginTop:-40,
                            marginLeft:-40,
                        }],
                    };
                    pdfMake.createPdf(docDefinition).download("Table.pdf");
                }
            });
        });

     </script> 
       </body>
     </html>
